lib/rpicsim/**/*.rb
--readme Introduction.md
--load docs/plugin/plugin.rb
-
docs/Manual.md
  docs/ChangeLog.md
  docs/QuickStartGuide.md
  docs/SupportedDevices.md
  docs/SupportedCompilers.md
  docs/SupportedMPLABXVersions.md
  docs/SupportedOperatingSystems.md

  docs/IntroductionToRuby.md
  docs/DefiningSimulationClass.md
  docs/Pins.md
  docs/Labels.md
  docs/Running.md
  docs/Variables.md
  docs/Memories.md
  docs/RamWatcher.md

  docs/IntroductionToRSpec.md
  docs/UnitTesting.md
  docs/IntegrationTesting.md
  docs/RSpecIntegration.md
  docs/PersistentExpectations.md

  docs/Stubbing.md
  docs/MakingTestsRunFaster.md
  docs/Debugging.md

  docs/HowMPLABXIsFound.md
  docs/KnownIssues.md
  docs/DesignDecisions.md
  docs/Contributing.md
